html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	padding: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

html,
body {
	font-size: 100%;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
}

* {
	position: relative;
	padding: 0;
	margin: 0;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

body {
	line-height: 1;
}

a {
	display: block;
	text-decoration: none;
	cursor: pointer;

	&:active {
		background-color: transparent;
		outline: 0 !important;
		-moz-outline-style: none !important;
	}

	&:focus {
		outline: 0 !important;
		-moz-outline-style: none !important;
	}

	&:hover,
	&:active {
		outline: 0;
	}

	img {
		border: 0;
	}
}

:focus {
	outline: 0;
}

::-moz-focus-inner {
	border: 0;
}

ol,
ul,
li {
	display: block;
	list-style: none;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}

blockquote,
q {
	quotes: none;

	&:after,
	&:before {
		content: '';
	}
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

strong,
em,
p {
	display: inline-block;
}

::-ms-clear {
	display: none;
}

input[type=number] {
	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		margin: 0;
		-webkit-appearance: none;
	}
}
